%board_before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
}

.board {
  position: relative;

  &-0:before {
    @extend %board_before;
    top: 2rem;
  }

  &-1:before {
    @extend %board_before;
    top: 5.8rem;
  }

  &-2:before {
    @extend %board_before;
    top: 9.8rem;
  }

  &-3:before {
    @extend %board_before;
    top: 5.8rem;
    left: -3.9rem;
    transform: rotate(90deg);
  }

  &-4:before {
    @extend %board_before;
    top: 5.8rem;
    transform: rotate(90deg);
  }

  &-5:before {
    @extend %board_before;
    top: 5.8rem;
    left: 4rem;
    transform: rotate(90deg);
  }

  &-6:before {
    @extend %board_before;
    width: 139%;
    top: 5.8rem;
    left: -2.25rem;
    transform: rotate(45deg);
  }

  &-7:before {
    @extend %board_before;
    width: 139%;
    top: 5.8rem;
    left: -2.2rem;
    transform: rotate(-45deg);
  }
}
