html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  //align-items: center;
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

#root {
  margin: 60px auto;
}
