body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  min-width: 180px;
}

.statistics ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 40px;
  align-items: center;
  border: 1px solid #558edd;
}

.login-form label {
  display: inline-block;
  min-width: 75px;
}

.login-form button {
  margin-bottom: 20px;
}


/* дальше идет идея сделать все втупую, алтернатива этопу сделать на свг или канвасе */
/* но  я точно не знаю, будет работать или нет, а это работает */
.board {
  position: relative;
}

.board-0:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 15%;
}

.board-1:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
}

.board-2:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 82%;
}

.board-3:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 65%;
  top: 16px;
  transform: rotate(90deg);
}

.board-4:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 22px;
  left: 26px;
  transform: rotate(90deg);
}

.board-5:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 23px;
  left: 58px;
  transform: rotate(90deg);
}

.board-6:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 137%;
  height: 50%;
  top: 5px;
  //left: 5px;
  transform: rotate(45deg);
}

.board-7:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 137%;
  height: 50%;
  top: 5px;
  left: -35px;
  transform: rotate(-45deg);
}
